*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    
}

/**Boot Css**/

img{
    width: 100%;
    max-width: 400px;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w50{
    padding: 0 2%;
    width: 50%;
}


.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}


/**Estilização do Site**/

header{
    padding:  0;
    background: rgb(148, 70, 34);
}

header img{
    width: 120px;
    vertical-align: middle;
}

.mobile{
    display: none;
}

nav.desktop ul{
    position: relative;
    margin-top: 40px;
    list-style-type: none;
}

nav.desktop ul li{
    
    padding: 0 20px;;
    display: inline-block;
}

nav.desktop a{
    color: aliceblue;
    text-decoration: none;
}

nav.desktop a:hover{
    color: rgb(245, 167, 136);
}

section.banner-principal{
    width: 100%;
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;/**não repetir a imagem**/
    background-size: cover; /**imagem do tamanho total da tela**/
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.4);
}

section.banner-principal form{
    width: 93%;
    max-width: 500px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);

}

section.banner-principal form h2{
    color: seashell;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
}

section.banner-principal form input[type=email]{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background: white;
    color: saddlebrown;
    font-size: 22px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;

}

section.banner-principal form input[type=submit]{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background: rgb(145, 85, 7);
    color: rgb(255, 252, 249);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 30px;;
}

section.descricao-autor{
    padding: 30px 0;
}

section.descricao-autor h2{
    font-size: 30px;
    font-weight: 400;
    color: #244;
}

section.descricao-autor p{
    font-size: 16px;
    color: #244;
    margin-top: 10px;
}

section.especialidades{
    padding: 40px 0;
    background: #E2E2E2;
}

section.especialidades h2.title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: rgb(128, 79, 23);
}

.box-especialidade{
    margin: 40px 0;
    text-align: center;
    padding: 0 30px;
}

.box-especialidade h3{
    text-align: center;
    color: rgb(163, 106, 80);
    font-size: 40px;
}

.box-especialidade h4{
    font-weight: 400;
    color: sienna;
    font-size: 25px;
}

.box-especialidade p{
    color: rgb(110, 59, 44);
    font-size: 15px;
    margin-top: 10px;
}

section.extras{
    padding: 30px 0;
    background: rgb(223, 188, 171);
}

.depoimentos-container, .servicos-container{
    padding: 0 2%;
}

section.extras .title{
    color: rgb(68, 17, 2);
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 15px;
}

.depoimento-single{
    padding: 15px 0;
    border-bottom: 1px solid rgb(116, 67, 28);
}

p.depoimento-descricao{
    font-size: 15px;
    color: rgb(102, 27, 5);
}

p.nome-autor{
    font-size: 15px;
    color: rgb(102, 27, 5);
    margin-top: 5px;
    font-weight: bold;
}

.servicos ul{
    margin: 20px 0;
    list-style-position: inside;
}

.servicos li{
    margin-bottom: 15px;
    font-size: 15px;
    color: rgb(102, 27, 5);
}

footer{
    background: #c29774;
    padding: 30px 0;
}

footer p{
    text-align: center;
    color: sienna;
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width:768px){
    img{
        float: none !important;
        display: block;
        margin: 0 auto;
        
    }

    .descricao-autor .left{
        float: none;
        display: block;
        width: 100%;
    }

    .depoimentos-container{
        float: none;
        display: block;
        width: 100%;
    }

    .servicos-container{
        float: none;
        display: block;
        width: 100%;
    }

    .box-especialidade{
        margin: 0;
    }

    .w50{
        padding: 20px;
        max-width: 100%;
    }

    .w33{
        width: 100%;
        padding: 20px;
    }
}

@media screen and (max-width:580px){
    nav.desktop{
        display: none;
    }   

    nav.mobile{
        display: block;
    }

    nav.mobile ul{
        top: 120px;
        z-index: 3;
        display: none;
        position: absolute;
        left: 0;
        display: none;
        width: 100%;
        text-align: center;
    }

    .botao-menu-mobile{
        font-size: 45px;
        cursor: pointer;
        color: seashell;
    }

    nav.mobile li{
        display: block;
        background: white;
        border-bottom: 1px solid #ccc;
        font-size: 18px;
        font-weight: 400;
        padding: 8px 0;
    }

    nav.mobile li a{
        display: block;
        color: sienna;
        text-decoration: none;
    }
}



