*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans sereif;
}

/** Boot CSS **/

img{
	max-width: 100%;
	max-height: 100%;
}
.center{	
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.w50{
	width: 50%;
	padding: 0 2%;
}

.w33{
	width: 30.3%;
	padding: 0 2%;
}

.clear{
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}

/**Estilização**/

html{
	scroll-behavior: smooth;
}

header{
	background-color: #FAC443;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 4;
}

header .logo{
	height: 55px;
	margin-top: 5px;
}

.mobile{
	display: none;
}

.botao-menu-mobile{
	display: none;

}

.descktop ul{
	position: relative;
	list-style: none;
	
}

.descktop ul li{
	display: inline-block;
	margin: 20px 20px;
	color: #fff;
}

.descktop ul li :hover{
	color: #FFF;
}

.descktop ul li a{
	text-decoration: none;
}

section.banner-principal{
	width: 100%;
	height: 700px;
	position: relative;
	background-image: url('../image/boxe.jpg');	

}

section.banner-principal .center{
	max-width: 93%;
	width: 550px;
	text-align: center;
	color: #FFF;
	bottom: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

section.banner-principal h1{
	opacity: 0.4;
		
	font-size: 130px;
	text-shadow: 0 0 10px #FAC443;
}

section.banner-principal button{
	background-color: #FAC443;
	width:120px;
	height: 30px;
	border-radius: 25px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
	color: #9501FF;

}

section.banner-principal button:hover{
	background-color: #AD8237;
	cursor: pointer;
	color: #FFF;	
}

section.sobre-container .sobre{
	background-color: #000;
	height: 515px;
	color: #FFF;
}

section.sobre-container .sobre .texto{
	position: relative;
	text-align: center;
	max-width: 93%;
	width: 800px;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	color: #FAC443;	
}

section.sobre-container h2{
	font-size: 30px;
	margin-bottom: 20px;

}

section.sobre-container .box-habilidades{
	background-color: #333;
	height: 380px;
	color: #FFF;

}

section.sobre-container .box-habilidades .texto{
	position: relative;
	text-align: left;
	max-width: 90%;
	width: 1280px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
}

section.sobre-container .box-habilidades .texto h3{
	margin-bottom: 20px;
}

section.sobre-container .box-habilidades .habilidade{
	width: 33.3%;
}

section.box-modalidades{	
	padding: 40px;
	height: 700px;
	background-image: url('../image/boxe02.jpg');
	
}


section.box-modalidades .modalidade{
	text-align: center;
	margin: 1%;
	height: 250px;
	background-color: rgba(0, 0, 0, 0.7);	
	border-radius: 10px;
}
	
section.box-modalidades .modalidade h4{
	font-size: 20px;
	margin-top: 30px;
	color: #FAC443;
	
}

section.box-modalidades .modalidade p{
	font-size: 16px;
	margin-top: 10px;
	color: #FAC443;
}

section.extras{	
	background-color: #000;
	color: #FFF;
	padding-top: 25px;
	height: 920px;

}
section.extras .center{	
	text-align: center;
	width: 50%;
}

section.extras .center h3{
	font-size: 30px;
	font-weight: 400;
}

section.extras .center p{
	margin-top: 25px;
}

section.extras .center a{
	color: #FAC443;
}

section.extras ul{
	list-style: none;
	margin-top: 100px;
	
}

section.extras ul li{
	display: inline-block;
	margin: 3%;
	
}

section.extras ul li a{
	text-decoration: none;
	
}

section.extras .sobre{
	width: 100%;
	margin-top: 100px;
}

section.extras .sobre h3{
	font-size: 60px;
	color: #FAC443;
}

section.extras .sobre h4{
	margin-top: 20px;
}

section.texto-extra{
	height: 320px;
	background-color: #333;
	text-align: center;
}

section.texto-extra .texto{
	position: relative;
	text-align: center;
	max-width: 93%;
	width: 800px;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	color: #FAC443;	
}

section.texto-extra p{
	margin-bottom: 30px;
}

section.atividade {
	background-color: #000;
}
section.atividade .texto{
	position: relative;
	text-align: center;
	color: #FFF;
	margin-top: 8%;		
}

section.atividade h2{
	font-weight: 400;
}

section.atividade .foto img{
	border-radius: 8px;
}

section.resultado{
	height: 690px;
	background-image: url(../image/barriga.jpg);
}

section.resultado .w50{
	padding-top: 15%;
	text-align: center;
	
}

section.resultado .matricula{
	color:#FFF;
	padding:15px;
	border-radius: 25px;
	background-color: rgba(0,0,0,0.5);
}

section.resultado h3{
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;
	color: #FAC443;

}

section.resultado button{
	background-color: #FAC443;
	width:160px;
	height: 40px;
	border-radius: 25px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
	color: #9501FF;
}

section.resultado button:hover{
	background-color: #AD8237;
	cursor: pointer;
	color: #FFF;
}

section.box-depoimentos{
	background-color: #000;
	height: 1450px;
}

section.box-depoimentos .depoimento{
	height: 400px;
	color: #FAC443;
}

section.box-depoimentos .foto-depoimento{
	height: 400px;
	color: #FAC443;
	text-align: center;

}

section.box-depoimentos .center{
	padding-top: 10%;
}

section.box-depoimentos .depoimento{
	text-align: center;
}

section.box-depoimentos  h3{
	margin-bottom: 50px;
}

section.box-depoimentos .foto-depoimento h2{
	font-size: 150px;
	
}

section.mais-textos{
	height: 220px;
	background-color: #333;
	color: #FFF;
	padding-top: 4%;
	text-align: center;
}


section.paragrafo {
	height: 320px;
	background-color: #000;
	text-align: center;
	color: #FAC443;
	padding-top: 7%;
}

section.paragrafo p{
	margin-bottom: 22px;
}

footer{
	background-color: #333;
	color: #FFF;
	border-bottom: 25px solid #FAC443;
	height: 330px;
}

footer .redes-sociais{
	
	padding-top: 8%;
	max-width: 440px;
	width: 50%;
}

footer .redes-sociais li{
	font-size: 30px;
}

footer ul{
	list-style: none;
	
	
}

footer ul li{

	display: inline-block;
	margin: 1%;
	
}

footer ul li a{
	text-decoration: none;
	color: #FAC443;
	
}

footer .nomes{
	padding-top: 8%;
}


@media screen and (max-width: 700px){

	.descktop{
		display: none;
	}

	.mobile{
		display: block;
	}

	.botao-menu-mobile{
	display: block;	
	font-size: 30px;
	margin-top: 2%;
	cursor: pointer;

	}

	.mobile ul{
		width: 100%;
		top: 85px;
		position: absolute;
		left: 0;
		text-align: center;
		display: block;
	}

	.mobile ul li{
		display: block;
		background-color: 
	}

}